.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full screen height */
}

.mainContent {
    flex: 1; /* fill space between header and footer */
    padding: 1rem;
}
  